@{
    ViewData["Title"] = "Desarrollador";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2 class="display-4">Estudiante:</h2>
    <h3>Jesús Gutiérrez Matarrita.</h3>
    <p>Este proyecto está disponible como código abierto en <a href="https://github.com/jesus-gutierrezmatarrita/TareaCRUD">https://github.com/jesus-gutierrezmatarrita/TareaCRUD</a>.</p>
    <img src="~/img/web_developer.svg" width="250" height="250" />
</div>



