@{
    ViewData["Title"] = "Desarrollador";
}
<h1>@ViewData["Title"]</h1>

<p>Estudiante a cargo de esta tarea: Jesús Gutiérrez.</p>
<img src="~/img/undraw_Web_developer_re_h7ie.svg" width="400" height="400"/>
